<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{ .Title }}</title>
    <link rel="stylesheet" href="/public/css/bootstrap.min.css">
    <link rel="stylesheet" href="/public/css/iconmoon.css">
    <link rel="stylesheet" href="/public/css/style.css">
    <script type="text/javascript" src="/public/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
    {{ if .RequireQuillPlugin }}
    <link href="https://cdn.quilljs.com/1.0.0/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.0.0/quill.js"></script>
    {{ end }}
    {{ if .RequireConsolePlugin }}
    <link rel="stylesheet" href="/public/css/console.css">
    {{ end }}
</head>
<body>
    <div class="intro">
        <div class="container">
            <div class="row">
                <div class="col-10 offset-1 col-lg-8 offset-lg-2">
                    <div class="intro-header">
                         <h1 class="text-center text-white">This is my blog</h1>
                         <p class="text-center text-white">追求卓越，成功自然会追上你。</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top position-absolute bg-transparent">
        <a class="navbar-brand font-weight-bold" href="/">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMenu" aria-controls="navbarMenu" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse my-navbar-collapse" id="navbarMenu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link font-weight-bold px-3" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold px-3" href="/posts">Posts</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold px-3" href="/tags">Tags</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link font-weight-bold px-3" href="/about">About</a>
                </li>
                {{ if .Authenticated }}
                    <li class="nav-item">
                        <a class="nav-link font-weight-bold px-3" href="/console/index">Console</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </nav>
{{/*
</body>
</html> 
*/}}