@media (max-width: 768px) {
    .my-navbar-collapse {
        position: absolute;
        top: 3.75rem;
        right: 1rem;
        width: 10rem;
        background-color: #343a40;
        z-index: 20;
    }
    .my-navbar-collapse .nav-link {
        color: #ffffff !important;
    }
    .login-widget {
        padding-bottom: 130px;
    }
}

@media (min-width: 992px) {
    .login-widget {
        padding-bottom: 85px;
    }
    .login-form {
        padding: 2rem 1rem;
    }
    .login-tips {
        height: 19px;
    }
    .console-navbar {
        margin: 1rem;
        padding: 0px;
        border: 1px solid #e1e4e8;
    }
    .console-menu-title {
        border-bottom: 1px solid #e1e4e8;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background-color: #f3f5f8;
        color: #586069;
        padding: 8px 16px;
        font-weight: bold;
    }
    .console-menu-item {
        border-bottom: 1px solid #e1e4e8;
    }
    .console-menu-item .selected {
        background-color: #fff;
        color: #24292e;
        cursor: pointer;
        border-left: 2px solid #e36209;
    }
    .console-content {
        margin: 1rem;
    }
    .console-content-title {
        border-bottom: 1px solid #e1e4e8;
    }
    .console-content-title>h2 {
        font-size: 24px;
    }
    .console-content li {
        margin: 0px;
    }
    .console-content li:nth-of-type(odd) {
        background-color: rgba(0,0,0,.05);
    }
    .post-edit-widget {
        margin-top: 3rem;
    }
    #editor {
        min-height: 200px;
    }
}