@media (max-width: 768px) {
    .my-navbar-collapse {
        position: absolute;
        top: 3.75rem;
        right: 1rem;
        width: 10rem;
        background-color: #ffffff;
        z-index: 20;
    }
    .my-navbar-collapse .nav-link {
        color: #343a40 !important;
    }
}

.intro {
	background: no-repeat center center;
    background-color: gray;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 0;
}

.intro-header {
    padding: 150px 0px;
}


.post-preview {
    padding: 20px 0px;
}

.post-attr {
    font-style: italic;
    font-weight: bold;
}

.post-content-preview {
    font-size: .8rem;
    font-style: italic;
    color: #a3a3a3;
}
