{{ template "base/head.html" .}}
        <div class="container-fluid">
            <div class="post-edit-widget">
                <form method="post">
                    <div class="form-group">
                        <input name="post-title" class="form-control" placeholder="文章标题">
                    </div>
                    {{ range .Tags }}
                    <div class="form-group form-check-inline">
                        <input name="post-tag" class="form-check-input" type="checkbox" id="tag-{{ .Id }}" value="{{ .Id }}">
                        <label class="form-check-label" for="tag-{{ .Id }}">{{ .Tname }}</label>
                    </div>
                    {{ end }}
                    <div class="form-group">
                        <div id="editor" class="post-content"></div>
                    </div>
                    <input name="post-content" type="hidden">
                    <div class="form-group">
                        <button type="submit" class="btn">发布</button>
                    </div>
                </form>
            </div>
            <script>
                var toolbarOptions = [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', { 'color': [] }],
                    ['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{'indent': '+1'}, {'indent': '-1'}],
                    [{'align': ''}, {'align': 'center'}, {'align': 'right'}],
                    ['image', 'link', 'video'],
                    ['undo',]
                ];
                var editor = new Quill("#editor", {
                    modules: { toolbar: toolbarOptions },
                    placeholder: "您想说点什么？",
                    theme: 'snow'
                });
                var postContent = document.querySelector('input[name=post-content]');
                var form = document.querySelector('form');
                form.onsubmit = function () {
                    postContent.value = editor.container.editor.innerHTML;
                }
            </script>
        </div>
        {{ template "base/footer.html" }}