{{ template "base/head.html" .}}
        <div class="container-fluid">
            <div class="post-edit-widget">
                <form method="post">
                    <div class="form-group">
                        <input name="post-title" class="form-control" placeholder="文章标题">
                    </div>
                    <div class="form-group">
                        <div id="editor" class="post-content"></div>
                    </div>
                </form>
            </div>
            <script>
                var toolbarOptions = [
                    [{ 'header': [1, 2, 3, 4, 5, 6, false] }],
                    ['bold', 'italic', 'underline', { 'color': [] }],
                    ['blockquote', 'code-block'],
                    [{ 'list': 'ordered'}, { 'list': 'bullet' }],
                    [{'indent': '+1'}, {'indent': '-1'}],
                    [{'align': ''}, {'align': 'center'}, {'align': 'right'}],
                    ['image', 'link', 'video'],
                    ['undo',]
                ];
                var editor = new Quill("#editor", {
                    modules: { toolbar: toolbarOptions },
                    placeholder: "您想说点什么？",
                    theme: 'snow'
                });
            </script>
        </div>
        {{ template "base/footer.html" }}