{{ template "console/head.html" .}}
<div class="container-fluid">
    <div class="row mt-lg-2">
        <div class="col-lg-2">
            <ul class="nav flex-column console-navbar">
                <li class="nav-item console-menu-title">管理面板</li>
                <li class="nav-item console-menu-item">
                    <a class="nav-link selected" href="/console/posts">文章管理</a>
                </li>
                <li class="nav-item console-menu-item">
                    <a class="nav-link" href="/console/tags">分类管理</a>
                </li>
                <li class="nav-item console-menu-item">
                    <a class="nav-link" href="/console/system">系统管理</a>
                </li>
            </ul>
        </div>
        <div class="col-lg-9 console-content">
            <div class="console-content-title">
                <div class="d-inline">
                    <div class="d-inline-block">
                        <h2>文章管理</h2>
                    </div>
                    <div class="d-inline-block float-right">
                        <a class="btn btn-primary" href="/posts/new"><span class="icon-plus"></span> 新增</a>
                    </div>
                </div>
            </div>
            <div class="console-content-content mt-lg-2">
                <ul class="list-unstyled">
                    {{ range .Posts }}
                    <li class="row py-2">
                        <a class="col-lg-10" href="/posts/{{ .Id }}">{{ .Title }}</a>
                        <a class="col-lg-1" href="/posts/edit?id={{ .Id }}"><span class="icon-pencil"></span>编辑</a>
                        <a class="col-lg-1" href="#"><span class="icon-bin"></span>删除</a>
                    </li>
                    {{ end }}
                </ul>
            </div>
        </div>
    </div>
</div>